#simpleSider {
  background-image: url(https://img.freepik.com/premium-vector/street-clothing-food-open-air-market-sidewalk-marketplace-megapolis-cityscape-background_88272-3089.jpg);
  height: 255px;
  margin-bottom: 2%;
  padding-top: 30px;
}
