.tab-content {
  padding-top: 20px;
}

#heartIconDetails svg {
  font-size: 30pt;
  cursor: pointer;
  margin-top: 26px;
  color: crimson;
}

.product-info-heading {
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tab-content {
  text-align: center;
}

#detailsProduct img {
  height: 400px;
  object-fit: contain;
}
.row {
  text-align: center;
}
.span {
  text-align: center;
}
