#addButton svg {
  font-size: 23pt;
}

#nav-sign-up {
  padding: 10px;
}

#addButton {
  padding: 9px;
}

#nav-sign-in {
  color: black;
  padding: 10px;
  background: lightblue;
  border-radius: 5px;
}

#nav-sign-in:hover {
  background-color: cornflowerblue;
}

.dropleft .dropdown-toggle::before {
  display: none;
}

#navImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid black;
}
