form {
  margin: 0 auto;
}

.auth-heading {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bottom-msg-paragraph {
  text-align: center;
  padding-top: 1%;
}

.bottom-msg-paragraph a:hover {
  text-decoration: underline;
}
